@import "tailwindcss";


@plugin "daisyui" {
  exclude: properties;
  themes: winter --default, night --prefersdark, cupcake, coffee;
}

@tailwind utilities;

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}


:root {
  --size-big: 4vw;
  --size-medium: 3vw;
  --size-small: 2vw;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; 
  border-radius: 0; 
}

::-webkit-scrollbar-button {
  display: none; 
}
